* {
	box-sizing: border-box;
	margin: 0;
}
/* header style start */
header h1 {
	color: #31a5ac;
	font-size: 48px;
	font-weight: 700;
}
/* ======================= */
/* main section start */

/* ================================ */
